*.out
*.txt
/Dep_Transformer_Grammars/models
/Dep_Transformer_Grammars/logs
/Dataset
/data_process/parser
/data_process/spm
/data_process/spm_parsing
/data_process/token_level
/data_process/token_level_vocab
/data_process/transition_sequence
/data_process/transition_sequence_txl
/Dep_Transformer_Grammars/.dependencies
/Dep_Transformer_Grammars/data_scripts
