*.out
*.txt
/models
/logs
/Dataset
/data_process/parser
/data_process/spm
/data_process/spm_parsing
/data_process/token_level
/data_process/token_level_vocab
/data_process/transition_sequence
/data_process/transition_sequence_txl
/.dependencies
/data_scripts
*/__pycache__
__pycache__